@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.awesome-container {
    width: 1170px;
    margin: 0 auto;
}

.awesome-container h2 {
    margin: 50px auto 0;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
}

.awesome-container__line {
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: 0 auto 40px;
}

.awesome-container__subtitle {
    height: 21px;
    margin: 0 auto 71px auto;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    color: #86878B
}

.awesome-container__articles .article {
   display: inline-block; 
   width: 370px;
   height: 383px;
   margin: 0px auto 58px ;

}

.awesome-container__articles .second {
    margin: 0px 25px;
}

.awesome-container__articles article img {
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}

.awesome-container__articles article h4 {
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 33px;
    margin-bottom: 8px;
}

.awesome-container__articles article h5 {
    font-family: 'Raleway', sans-serif;
    height: 105px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
}