.awesome-container {
    font-family: 'Raleway', sans-serif;
    width: 1170px;
    margin: 0 auto;
}

.awesome-subcontainer h2 {
    margin: 50px auto 0;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 150px;
    text-transform: uppercase;
}

.awesome-subcontainer__separator {
    width: 170px;
    border: 0.5px solid #EC7979;
    margin: 0 auto 40px;
}

.awesome-subcontainer__subtitle {
    height: 21px;
    margin: 0 auto 71px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    color: #86878B
}

.awesome-subcontainer__articles article {
    display: inline-block;
    width: 370px;
    height: 383px;
    margin: 0px auto 58px;

}

.awesome-subcontainer__articles .second {
    margin: 0px 25px;
}

.awesome-subcontainer__articles img {
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}

.awesome-subcontainer__articles h4 {
    font-family: 'Open Sans', sans-serif;
    height: 100px;
    font-size: 24px;
    text-align: center;
    line-height: 33px;
    margin-bottom: 8px;
}

.awesome-subcontainer__articles h5 {
    height: 105px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
}