footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 164px;
    background: #000;
}

.footer-container{
    width: calc(100% - 470.8px - 470px);
    display: flex;
    justify-content: space-between;
}

footer h5{
    margin-top: 27.8px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}