.tabs-container {
    width: 1170px;
    height: 540px;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.tabs-subcontainer__open-tab {
    border: 1px solid #C6CBCD;
    border-top: none;
}

.tabs-subcontainer__left-side {
    width: 570px;
    display: inline-block;  
    margin: 0 25px 0 100px;
    vertical-align: top;
}

.tabs-subcontainer__open-tab h3 {
    height: 124px;
    line-height: 124px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 27px;
}

.tabs-subcontainer__open-tab h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.13px;
    margin-bottom: 27px;
}

.tabs-subcontainer__open-tab button {
    width: 270px;
    height: 58px;
    background: #EC7979;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    border: none;
    cursor: pointer;
}

.tabs-subcontainer__open-tab button:hover {
    text-decoration: underline;
}

.tabs-subcontainer__open-tab button:active {
text-decoration: underline;
color: rgba(201, 201, 201);
}

.tabs-subcontainer__list {
    display: inline-flex;
}

.tabs-subcontainer__list div {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    height: 40px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.tabs-subcontainer__tab1 {
    width: 201px;
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
}

.tabs-subcontainer__tab2, 
.tabs-subcontainer__tab3 {
    width: 184px;
    border-bottom: 1px solid #C6CBCD;
}

.tabs-subcontainer__empty-tab {
    width: 600px;
    border-bottom: 1px solid  #C6CBCD;
}

.tabs-subcontainer__open-tab img {
    vertical-align: top;
    margin-right: -5px;
}